---
BasedOnStyle: Microsoft
SortIncludes: false
IndentWidth: 2

Language: Cpp
SeparateDefinitionBlocks: Always

# LINES
AllowShortFunctionsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: Yes
AllowShortBlocksOnASingleLine: Always
EmptyLineAfterAccessModifier: Always

# BRACE WRAPPINGS
BraceWrapping:
    AfterControlStatement: Never
    AfterNamespace: false
    AfterStruct: false
    AfterUnion: false
    AfterFunction: false
    AfterClass: false
    BeforeCatch: false
    BeforeElse: false
    BeforeWhile: false
#    AfterCaseLabel: false

# INDENTATIONS
ContinuationIndentWidth: 2
AlignAfterOpenBracket: BlockIndent
NamespaceIndentation: All
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
# IndentAccessModifiers: true
AccessModifierOffset: 0

# SPACES
FixNamespaceComments: true
SpaceBeforeParens: true
SpaceBeforeRangeBasedForLoopColon: false
SpaceAfterCStyleCast: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceInEmptyBlock: false

KeepEmptyLinesAtTheStartOfBlocks: false
